<div class="header-container">
    <div class="header-top">
        <div class="header-top-center auto_center clr">
            <div class="header-nav">
                <ul>
                    <li class="header-nav-item logo">
                        <a href="###" class="a-link"></a>
                    </li>
                    <li class="header-nav-item hover-bg">
                        <a href="###" class="a-link">首页</a>
                    </li>
                    <li class="header-nav-item hover-bg">
                        <a href="###" target="_blank" class="a-link">热区</a>
                    </li>
                    <li class="header-nav-item hover-bg">
                        <a href="###" target="_blank" class="a-link">游戏</a>
                    </li>
                    <li class="header-nav-item hover-bg">
                        <a href="###" target="_blank" class="a-link">资讯</a>
                    </li>
                    <li class="header-nav-item hover-bg">
                        <a href="###" target="_blank" class="a-link">下载</a>
                    </li>
                    <li class="header-nav-item">
                        <div class="header_search">
                            <input type="text" placeholder="搜索" id="hd_search">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-login">
                <ul>
                    <li class="login-item">
                        <div class="header_login">登录/注册</div>
                    </li>
                    <li class="login-item">
                        <a href="###">
                            <div class="link-2-post">我要发帖</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>